html {
	background-color: #EBEBEB;
	overflow-x: hidden;
}
	
canvas {
	background-image: url("img/abstract.jpg");
	user-select: none;
}

button {
	cursor: pointer;
}

button.btn_facile {
	font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;
	font-size: 48px;
	font-weight: bold;
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
	border-radius: 20px;
	height: 135px;
	background-color: #699AFF;
}

button.btn_inter {
	font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;
	font-size: 48px;
	font-weight: bold;
	width: 90%;
	margin-left: 5%;
	border-radius: 20px;
	height: 135px;
	background-color: #3F7DFF;
}

button.btn_diff {
	font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;
	font-size: 48px;
	font-weight: bold;
	width: 90%;
	margin-left: 5%;
	border-radius: 20px;
	height: 135px;
	background-color: #125FFF;
}

button.btn_crazy {
	font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;
	font-size: 48px;
	font-weight: bold;
	width: 90%;
	margin-left: 5%;
	border-radius: 20px;
	height: 135px;
	background-color: #502265;
}

.titre { 
	color: #23af48; 
	font-size: 48px; 
	font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;  
	margin-left: 10%;
	margin-top: 0px;
	margin-bottom: 25px;
	display: inline-block;
	position: relative;
	text-decoration: underline;
	font-style: italic;
	text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
}

h2 {
	color: #F57912; 
	font-size: 21px; 
	font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;  
	margin-left: 85%;
	display: inline-block;
	padding-top: 0px;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

p {
	font-size: 28px; 
	font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;
	color: #1A6BA8;
}



p.nombre {
	display: inline-block;
	font-size: 42px;
	color: #2f271a;
}

p.conseil {
	font-size: 14px;
	color: red;
	text-align: right;
}

div.perdu {
	position:absolute;
    width: 100%;
	height: 50%;
	font-size: 250px; 
	font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;
	color: black;
	text-align: center;
	background-color: #FF0000;
	text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
}

div.gagne {
	position:absolute;
    width: 100%;
	height: 50%;
	font-size: 250px; 
	font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;
	color: white;
	text-align: center;
	background-color: #02D11D;
	text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}

#rejouer {
	margin-top: 31%;
	font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;
	font-size: 70px;
	font-weight: bold;
	width: 100%;
	border-radius: 20px;
	height: 135px;
	color: #F57912;
	background-color: #1A6BA8;
}

#rejouer:hover {
	background-color: #F57912;
	color: #1A6BA8;
}

#header {
	animation: pulse 2.5s infinite;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}	

@keyframes pulse {
	0% {
		background-color: #333858;
}
  100% {
    background-color: #2f271a;
  }
}

.btn {
  font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;  
  font-size: 25px;
  text-shadow: -1px -1px 1px #616161;
  padding: 15px 30px;
  -webkit-box-shadow: 5px 5px 0 #4D4C4F;
  -moz-box-shadow: 5px 5px 0 #4D4C4F;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  background-color: #23af48;
  color: #2f271a;
  font-weight: bold;
  margin-left: 10%;
  display: inline-block;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 0 #666;
  -moz-box-shadow: 0px 0px 0 #666;
  background-color: white;
  color: #23af48;
  display: inline-block;
}

.btn2 {
  font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', 'Corbel', serif;  
  font-size: 25px;
  text-shadow: -1px -1px 1px #616161;
  padding: 10px 25px;
  -webkit-box-shadow: 5px 5px 0 #4D4C4F;
  -moz-box-shadow: 5px 5px 0 #4D4C4F;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  background-color: #23af48;
  color: #2f271a;
  font-weight: bold;
  margin-left: 5%;
  display: inline-block;
}

.btn2:hover {
  -webkit-box-shadow: 0px 0px 0 #666;
  -moz-box-shadow: 0px 0px 0 #666;
  background-color: #EBEBEB;
  color: #23af48;
  display: inline-block;
}

#jeu {
	/*width: 100%;*/
	display: inline-block;
}

#liste_choix {
	display: inline-block;
	width: 300px;
	position: relative;
	margin-left: 10px;
}

.choix_radio {
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: #BBC4BB;
}

.choix_radio:checked {
	color: #3CDC46;
}

[type="radio"]:checked:after {
	color: #3CDC46;
}

label {
	color: #1A6BA8;
  	font-family: Trebuchet MS;
	font-size: 32px;
	user-select: none;
}

#choixDuRectangle {
	display: inline-block;
}

#nombreDeRectangle {
	display: inline-block;
}

#choixDuCarre {
	display: inline-block;
}

#nombreDeCarre {
	display: inline-block;
}

#choixDuCouvercle {
	display: inline-block;
}

#nombreDeCouvercle {
	display: inline-block;
}

#choixDuPoids {
	display: inline-block;
}

#nombreDePoids {
	display: inline-block;
}